### Get all instruments from Oanda API
Save to file:
-  instruments.pkl 
- currency_instruments.pkl

In [1]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from oanda_api import OandaApi
import pandas as pd

In [2]:
api = OandaApi()
response = api.fetch_instruments()
instruments = response['instruments']
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [3]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [4]:
instrument_df = pd.DataFrame.from_dict(instrument_data)
instrument_df

           name      type   displayName  pipLocation marginRate
0       USD_CNH  CURRENCY       USD/CNH           -4       0.05
1       NZD_CAD  CURRENCY       NZD/CAD           -4       0.05
2       EUR_CHF  CURRENCY       EUR/CHF           -4       0.04
3       SGD_CHF  CURRENCY       SGD/CHF           -4       0.05
4       XAU_AUD     METAL      Gold/AUD           -2       0.05
..          ...       ...           ...          ...        ...
118   SUGAR_USD       CFD         Sugar           -4       0.10
119     HKD_JPY  CURRENCY       HKD/JPY           -4        0.1
120   UK100_GBP       CFD        UK 100            0       0.05
121  US2000_USD       CFD  US Russ 2000           -2       0.10
122     EUR_HUF  CURRENCY       EUR/HUF           -2       0.05

[123 rows x 5 columns]

In [5]:
instrument_df.to_pickle("../instruments.pkl")

In [6]:
currency_instruments_df = instrument_df[instrument_df['type'] == 'CURRENCY']
currency_instruments_df

        name      type displayName  pipLocation marginRate
0    USD_CNH  CURRENCY     USD/CNH           -4       0.05
1    NZD_CAD  CURRENCY     NZD/CAD           -4       0.05
2    EUR_CHF  CURRENCY     EUR/CHF           -4       0.04
3    SGD_CHF  CURRENCY     SGD/CHF           -4       0.05
6    EUR_CZK  CURRENCY     EUR/CZK           -4       0.05
..       ...       ...         ...          ...        ...
113  USD_SEK  CURRENCY     USD/SEK           -4       0.05
114  GBP_SGD  CURRENCY     GBP/SGD           -4       0.05
117  EUR_PLN  CURRENCY     EUR/PLN           -4       0.05
119  HKD_JPY  CURRENCY     HKD/JPY           -4        0.1
122  EUR_HUF  CURRENCY     EUR/HUF           -2       0.05

[68 rows x 5 columns]

In [7]:
currency_instruments_df.to_pickle("../currency_instruments.pkl")